{% extends "base" %}

{% block title %}
pastor
{% endblock title %}

{% block content %}
    <div>
        <pre><code>


                             _ __   __ _ ___| |_ ___  _ __
                            | '_ \ / _` / __| __/ _ \| '__|
                            | |_) | (_| \__ \ || (_) | |
                            | .__/ \__,_|___/\__\___/|_|
                            |_|

                       The pastebin that hopefully doesn't suck


Usage
=====

Files
-----
 Upload

  Upload files:
  -----------------------------------------------------------------------------------
  $ curl -F a=@vim.png b=@vim2.png https://{{ url }}/
  https://{{ url }}/picturedsalters aloofgremlins
  -----------------------------------------------------------------------------------
  The second string is a token needed to authenticate for
  modifying or deleteing your uploads.

 Retrieve

  Retrieve file:
  -----------------------------------------------------------------------------------
  GET https://{{ url }}/picturedsalters
  -----------------------------------------------------------------------------------

  View file with syntax highlighting:
  -----------------------------------------------------------------------------------
  GET https://{{ url }}/picturedsalters?lang=rust
  GET https://{{ url }}/picturedsalters?lang=auto (attempts detection)
  -----------------------------------------------------------------------------------

 Delete

  Delete file:
  -----------------------------------------------------------------------------------
  $ curl -X DELETE https://{{ url }}/picturedsalters?token=aloofgremlins
  -----------------------------------------------------------------------------------


        </code></pre>
    </div>
{% endblock content %}