body {
    background-color: #2d2d2d;
    color: #d3d0c8;
    font-family: "Roboto", "Fira Sans", sans-serif;
}

a {
    color: #5d89b5;
}

pre {
    font-family: "JetBrains Mono", "Fira Code", monospace;
}