body {
    background-color: #282828;
    color: #ebdbb2;
    font-family: "Roboto", "Fira Sans", sans-serif;
}

a {
    color: #83a598;
}

pre {
    margin: 0;
}

code {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.index {
    font-family: "Roboto", "Fira Sans", sans-serif;
}

.code-content {
    font-family: "JetBrains Mono", "Fira Code", monospace;
}