:root {
    --bg: #2d2d2d;
    --mid: #666666;
    --fg: #d3d0c8;
    --link: #5d89b5;
}

body {
    background-color: var(--bg);
    color: var(--fg);
    font-family: "IBM Plex Sans", "Roboto", "Fira Sans", sans-serif;
}

a {
    color: var(--link);
}

pre {
    font-family: "IBM Plex Mono", "JetBrains Mono", "Fira Code", monospace;
}

.gui {
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gui > textarea {
    width: 80%;
    height: 100%;
    padding: 0.5em;
    background-color: var(--bg);
    color: var(--fg);
    border-color: var(--mid);
}

.gui > .buttons {
    margin-top: 1em;
}

.gui > .buttons > button {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.gui > .buttons > #submit_upload,
.gui > .buttons > #hidden_input {
    display: none;
}

